---
import LangLink from '../../components/LangLink.astro';
import HomeLink from '../../components/HomeLink.astro';
import Clock from '../../components/icons/Clock.astro';
import Calendar from '../../components/icons/Calendar.astro';
import readingTime from 'reading-time';

function getTtr(source) {
  return Math.round(readingTime(source).minutes)
}

const { lang = 'en', posts = [], title = 'Blog', tag } = Astro.props;
---

<HomeLink {lang} />
<LangLink {lang} section={tag ? `blog/tags/${tag}` : 'blog'} />
<section class="blog">
  <h1 class="title">{title}</h1>
  <ul>
    {posts.map(post => (
    <a href={post.url}>
      <article>
        <h2>{post.title}</h2>
        <div class="stats">
          <div class="ttr">
            <span>
              <Clock {lang} />
            </span>
            <span>{getTtr(post.astro.source)}</span>
            <span>{lang === 'en' ? 'minutes' : 'minutos'}</span>
          </div>
          <div class="created">
            <span>
              <Calendar {lang} />
            </span>
            <span>
              {post.created}
            </span>
          </div>
        </div>
        <p>{post.description}</p>
      </article>
    </a>
    ))}
  </ul>
</section>

<style lang="scss">
 .home-link {
   font-size: 2rem;
   font-weight: 700;
   padding: 1rem;

   a {
     color: var(--color-heading);
     text-decoration: none;
   }
 }

 h1.title {
   margin-top: 3rem;
   font-size: var(--h1);
   color: var(--color-heading);
   font-weight: 700;
 }

 a {
   text-decoration: none;
 }

 h2 {
   margin-top: 0;
   color: var(--color-heading);
   font-size: 1.5rem;
 }

 .blog {
   width: 90%;
   max-width: 50rem;
   margin: 0 auto;
   margin-bottom: 4rem;
 }

 .stats {
   display: flex;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   > * + * {
     margin-left: 2rem;
   }
 }

 .ttr, .created {
   color: #77606c;
   span {
     margin-right: 0.2rem;
   }
 }

 p {
   color: var(--base-font-color-on-alt);
 }

 article {
   margin-top: 1rem;
   padding: 2rem 1rem;
   border-radius: 10px;
 }

 @media (pointer: fine) {
   article:hover {
     background-color: #d3c6e6;
     text-decoration: none;
   }
 }

 @media (pointer: coarse) {
   article:active {
     background-color: #d3c6e6;
     text-decoration: none;
   }
 }
</style>
