---
import MetaHead from '../components/MetaHead.astro';
import ShareButtons from '../components/ShareButtons.svelte';
import Commento from '../components/Commento.svelte';
import LangLink from 'components:LangLink.astro';
import HomeLink from 'components:HomeLink.astro';
import TOC from 'components:TOC.astro';
import Clock from 'components:icons/Clock.astro';
import Calendar from 'components:icons/Calendar.astro';
import 'style:roboto.css';
import 'style:overpass.css';
import 'style:reset.css';
import 'style:global.css';
import readingTime from 'reading-time';

const { post } = Astro.props;
const headers = post.getHeadings();
const { published, crosspost } = post.frontmatter;
const host = Astro.site;
const ttr = Math.round(readingTime(post.source).minutes);
const lang = post.lang || 'en';
const imgSrc = `assets/blog-pics/${post.frontmatter.created}.${
  post.frontmatter.imgext ?? 'jpg'
}`;
const section = `blog/${post.slug}`;
const localeDate = new Date(post.frontmatter.created).toLocaleDateString(
  lang ?? 'en',
  {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
  }
);
const jsonLd = `
    <script type="application/ld+json">
     {
      "@context": "https://schema.org/",
      "@type": "BlogPosting",
      "headline": "${post.frontmatter.title.split('|')[0].trim()}",
      "alternativeHeadline": "${post.frontmatter.description}",
      "image": "${host}${imgSrc}",
      "dateCreated": "${post.frontmatter.created}",
      "datePublished": "${post.frontmatter.created}",
      "isFamilyFriendly": "true",
      "publisher": {
        "@type": "Person",
        "name": "Pablo Berganza",
        "url": "${host}",
        "email": "pablo@berganza.dev",
        "jobTitle": "Software Engineer"
      },
      "author": {
        "@type": "Person",
        "name": "Pablo Berganza",
        "url": "${host}",
        "email": "pablo@berganza.dev",
        "jobTitle": "Software Engineer"
      }
     }
    </script>
`;
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {!published && <meta name="robots" content="noindex" />}
    <title>{post.frontmatter.title} | Pablo Berganza</title>
    <link
      rel="alternate"
      hreflang={lang === 'en' ? 'es' : 'en'}
      href={`${host}${lang === 'en' ? 'es/' : ''}${section}`}
    />
    <link href="/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57" />
    <link href="/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60" />
    <link href="/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" />
    <link href="/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" />
    <link
      href="/apple-icon-114x114.png"
      rel="apple-touch-icon"
      sizes="114x114"
    />
    <link
      href="/apple-icon-120x120.png"
      rel="apple-touch-icon"
      sizes="120x120"
    />
    <link
      href="/apple-icon-144x144.png"
      rel="apple-touch-icon"
      sizes="144x144"
    />
    <link
      href="/apple-icon-152x152.png"
      rel="apple-touch-icon"
      sizes="152x152"
    />
    <link
      href="/apple-icon-180x180.png"
      rel="apple-touch-icon"
      sizes="180x180"
    />
    <link
      href="/android-icon-192x192.png"
      rel="icon"
      sizes="192x192"
      type="image/png"
    />
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
    <link href="/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png" />
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <link href="/manifest.json" rel="manifest" />
    <meta content="#E34495" name="msapplication-TileColor" />
    <meta content="ms-icon-144x144.png" name="msapplication-TileImage" />
    <meta content="#E34495" name="theme-color" />
    <script
      type="module"
      src="https://unpkg.com/yt-vid@0.0.5/dist/yt-vid/yt-vid.esm.js"
    ></script>
    <script
      nomodule=""
      src="https://unpkg.com/yt-vid@0.0.5/dist/yt-vid/yt-vid.js"
    ></script>
    <script is:inline src="/scripts/focus-visible.js" defer></script>
    <Fragment set:html={jsonLd} />
    <MetaHead
      title={post.frontmatter.title}
      description={post.frontmatter.description}
      created={post.frontmatter.created}
      isArticle
      host={host}
      lang={lang}
      img={imgSrc}
      ttr={ttr}
      section={section}
    />
    <meta name="color-scheme" content="light dark" />
  </head>
  <body>
    <main>
      <HomeLink lang={lang} />
      <LangLink lang={lang} section={section} />
      <article>
        <header>
          <h1 class="title" set:html={post.frontmatter.title}></h1>
          <p set:html={post.frontmatter.description}></p>
        </header>
        <img
          alt=""
          class="banner"
          src={`/${imgSrc}`}
          width={post.frontmatter.image.width}
          height={post.frontmatter.image.height}
        />
        <div class="stats">
          <div class="ttr">
            <span>
              <Clock lang={lang} />
            </span>
            <time datetime={`${ttr}m`}>
              {ttr}
              {lang === 'en' ? 'minutes' : 'minutos'}
            </time>
          </div>
          <div class="created">
            <span>
              <Calendar lang={lang} />
            </span>
            <time class="created-date" datetime={post.frontmatter.created}
              >{localeDate}
            </time>
          </div>
        </div>
        <div class="tags">
          {lang === 'en' ? 'Tags:' : 'Etiquetas:'}
          <ul>
            {
              post.frontmatter.tags.map((tag) => (
                <li>
                  <a
                    href={`${
                      lang === 'en' ? '/blog/' : '/es/blog/'
                    }tags/${tag}`}
                  >
                    {tag}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        {
          !!crosspost && (
            <div class="tags">
              {lang === 'en'
                ? 'Also available on:'
                : 'También disponible en (inglés):'}
              <ul>
                {!!crosspost.devto && (
                  <li>
                    <a href={crosspost.devto}>dev.to</a>
                  </li>
                )}
                {!!crosspost.hashnode && (
                  <li>
                    <a href={crosspost.hashnode}>hashnode</a>
                  </li>
                )}
              </ul>
            </div>
          )
        }
        <section class="content">
          {headers.length >= 3 && <TOC headers={headers} lang={lang} />}
          <post.Content />
        </section>
      </article>
      <script>
        import { load } from './copy-button.js';
        import 'share-on-fedi';
        load();
      </script>
      <footer>
        <ShareButtons client:visible host={host} blog={post} lang={lang} />
        <Commento
          client:only
          lang={lang}
          src={import.meta.env.PROD
            ? 'https://cdn.commento.io/js/commento.js'
            : 'http://localhost:8080/js/commento.js'}
        />
      </footer>
    </main>
    <style lang="scss">
      article,
      footer {
        max-width: 50rem;
        width: 95%;
        margin: 0 auto;
      }

      footer {
        margin-bottom: 4rem;
      }

      header {
        margin-top: 4rem;

        h1.title {
          font-size: 2rem;
          margin-bottom: 1rem;
          color: var(--color-heading);

          @media only screen and (min-width: 767px) {
            font-size: 3rem;
          }
        }

        p {
          font-family: 'Overpass', 'Helvetica Neue', Verdana, Helvetica, Arial,
            sans-serif;
          font-size: 1.2rem;
          color: var(--color-heading);
          font-style: italic;
          margin-top: 0;
          font-weight: 600;
          margin-bottom: 2rem;
        }
      }

      .banner {
        width: 100%;
        max-width: 45rem;
        height: auto;
        display: block;
        margin: 0 auto;
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        color: var(--color-heading);

        ul {
          display: flex;
          padding-left: 1rem;
        }

        li {
          padding-right: 0.5rem;
        }
      }

      .content {
        max-width: 45rem;
        margin: 0 auto;
        :global(ul) {
          list-style-type: disc;
          margin-left: 2rem;
          line-height: 1.5rem;
        }

        :global(ol) {
          margin-left: 2rem;
          line-height: 1.5rem;
        }

        :global(p) {
          margin: 1rem 0;
        }

        :global(iframe),
        :global(table) {
          border-collapse: separate;
          border-spacing: 0.2rem;
          align-self: center;
          border: 4px solid var(--color-primary-2);
          border-radius: 10px;
          width: 95%;

          :global(thead) {
            font-weight: 700;
          }
        }

        > :global(*) {
          margin-top: 2rem;
        }

        :global(h2) {
          font-size: 1.7rem;

          @media only screen and (min-width: 767px) {
            font-size: 2rem;
          }
        }
      }

      .content :global(.yt-vid) {
        align-self: center;
        width: 95%;
      }

      .content :global(yt-vid) {
        --width: 100%;
        --height: 315px;
        --border: 4px solid var(--color-primary-2);
        --border-radius: 10px;
      }

      .content :global(blockquote) {
        padding: 8px 10px;
        margin: 8px inherit;
        background-color: var(--background-color-quote);
        border-left: 5px solid var(--color-primary-2);
        border-radius: 10px;
        color: var(--base-font-color);
      }

      .content :global(blockquote) :global(p) {
        margin: 0;
      }

      .content :global(pre) {
        overflow: auto;
        display: flex;
        padding: 10px;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        border-left: 5px solid var(--color-primary-2);
        border-radius: 10px;
        white-space: pre; /* css-3 */
        white-space: -moz-pre; /* Mozilla, since 1999 */
        white-space: -pre; /* Opera 4-6 */
        white-space: -o-pre; /* Opera 7 */
        align-self: center;

        :global(code) {
          background: inherit;
          color: inherit;
          font-size: 0.875rem;
        }
      }

      .content :global(code) {
        background: var(--background-codespan);
        color: var(--base-font-color);
        padding: 0.1rem 0.2rem 0.1rem 0.2rem;
        border-radius: 5px;
      }

      .content :global(a code) {
        color: var(--color-link);
      }

      .stats {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        margin-top: 2rem;
      }

      .stats,
      .tags {
        max-width: 45rem;
        margin-left: auto;
        margin-right: auto;
      }

      .ttr,
      .created {
        color: var(--color-heading);
        span {
          margin-right: 0.2rem;
        }
      }
    </style>
  </body>
</html>
