---
const { content } = Astro.props;
import LangLink from '../components/LangLink.astro';
---
<html lang="{content.lang || 'en'}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{content.title} | Pablo Berganza</title>
    <link href="/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
    <link href="/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
    <link href="/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png">
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link href="/manifest.json" rel="manifest">
    <meta content="#E34495" name="msapplication-TileColor">
    <meta content="ms-icon-144x144.png" name="msapplication-TileImage">
    <meta content="#E34495" name="theme-color">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&family=Roboto+Slab:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style/reset.css">
    <link rel="stylesheet" type="text/css" href="/style/global.css">
  </head>
  <body>
    <main>
      <h1 class="home-link"><a href={content.lang === 'es' ? '/es' : '/'}>Pablo Berganza</a></h1>
      <LangLink lang={content.lang || 'en'} section={`/blog/${content.slug}`} />
      <article>
        <header>
          <h1 class="title">{content.title}</h1>
          <h2>{content.description}</h2>
        </header>
        <div class="tags">
          Tags:
          <ul>
            {content.tags.map(tag => (
            <li>
              <a href={`${content.lang === 'en' ? '/blog/' : '/blog/es/'}tags/${tag}`}>
                {tag}
              </a>
            </li>
            ))}
          </ul>
        </div>
        <section class="content">
          <slot />
        </section>
      </article>
    </main>
  </body>
</html>

<style lang="scss">
 article {
   max-width: 50rem;
   width: 90%;
   margin: 0 auto;
 }

 .home-link {
   font-size: 2rem;
   font-weight: 700;
   padding: 1rem;

   a {
     color: var(--color-heading);
     text-decoration: none;
   }
 }

 header {
   margin-top: 4rem;

   h1.title {
     font-size: 3rem;
     margin-bottom: 1rem;
     color: var(--color-heading);
   }

   h2 {
     font-size: 1.5rem;
     color: var(--color-heading);
     margin-top: 0;
     margin-bottom: 2rem;
   }
 }

 .tags {
   display: flex;

   ul {
     display: flex;
     padding-left: 1rem;
   }

   li {
     padding-right: 0.5rem;
   }
 }

 .content {
   :global(ul) {
     list-style-type: disc;
     margin-left: 2rem;
     line-height: 1.5rem;
   }

   :global(p) {
     margin: 1rem 0;
   }
 }
</style>
