---
import readingTime from 'reading-time';
import LangLink from '../components/LangLink.astro';
import HomeLink from '../components/HomeLink.astro';
import Clock from '../components/icons/Clock.astro';
import Calendar from '../components/icons/Calendar.astro';
import MetaHead from '../components/MetaHead.svelte';
import ShareButtons from '../components/ShareButtons.svelte';
import Commento from '../components/Commento.svelte';

const { content } = Astro.props;
const host = Astro.site;
const ttr = Math.round(readingTime(content.astro.source).minutes);
const lang = content.lang || 'en';
const imgSrc = `assets/blog-pics/${content.created}.jpg`;
const section = `blog/${content.slug}`;
const jsonLd = `
    <script type="application/ld+json">
     {
      "@context": "https://schema.org/",
      "@type": "BlogPosting",
      "headline": "${content.title.split('|')[0].trim()}",
      "alternativeHeadline": "${content.description}",
      "image": "${host}${imgSrc}",
      "dateCreated": "${content.created}",
      "datePublished": "${content.created}",
      "isFamilyFriendly": "true",
      "publisher": {
        "@type": "Person",
        "name": "Pablo Berganza",
        "url": "${host}",
        "email": "pablo@berganza.dev",
        "jobTitle": "Software Engineer"
      },
      "author": {
        "@type": "Person",
        "name": "Pablo Berganza",
        "url": "${host}",
        "email": "pablo@berganza.dev",
        "jobTitle": "Software Engineer"
      }
     }
    </script>
`;
---

<html {lang}>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{content.title} | Pablo Berganza</title>
    <link
      rel="alternate"
      hreflang={lang === 'en' ? 'es' : 'en'}
      href={`${host}${lang === 'en' ? 'es/' : ''}${section}`}
    >
    <link href="/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
    <link href="/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
    <link href="/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
    <link href="/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
    <link href="/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png">
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link href="/manifest.json" rel="manifest">
    <meta content="#E34495" name="msapplication-TileColor">
    <meta content="ms-icon-144x144.png" name="msapplication-TileImage">
    <meta content="#E34495" name="theme-color">
    <link rel="stylesheet" type="text/css" href="/style/roboto.css">
    <link rel="stylesheet" type="text/css" href="/style/overpass.css">
    <link rel="stylesheet" type="text/css" href="/style/reset.css">
    <link rel="stylesheet" type="text/css" href="/style/global.css">
    <link rel="stylesheet" type="text/css" href="/style/dracula.css">
    <script type="module" src="https://unpkg.com/yt-vid@0.0.5/dist/yt-vid/yt-vid.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/yt-vid@0.0.5/dist/yt-vid/yt-vid.js"></script>
    <script src="/scripts/focus-visible.js"></script>
    {jsonLd}
    <MetaHead
      title={content.title}
      description={content.description}
      created={content.created}
      isArticle
      {host}
      {lang}
      img={imgSrc}
      {ttr}
      {section}
    />
  </head>
  <body>
    <main>
      <HomeLink {lang} />
      <LangLink {lang} {section}} />
      <article>
        <header>
          <h1 class="title">{content.title}</h1>
          <p>{content.description}</p>
        </header>
        <img
          alt=""
          class="banner"
          src={`/${imgSrc}`}
          width={content.image.width}
          height={content.image.height}
        />
        <div class="stats">
          <div class="ttr">
            <span>
              <Clock {lang} />
            </span>
            <span>{ttr}</span>
            <span>{lang === 'en' ? 'minutes' : 'minutos'}</span>
          </div>
          <div class="created">
            <span>
              <Calendar {lang} />
            </span>
            <span>
              {content.created}
            </span>
          </div>
        </div>
        <div class="tags">
          {lang === 'en' ? 'Tags:' : 'Etiquetas:'}
          <ul>
            {content.tags.map(tag => (
            <li>
              <a href={`${lang === 'en' ? '/blog/' : '/es/blog/'}tags/${tag}`}>
                {tag}
              </a>
            </li>
            ))}
          </ul>
        </div>
        <section class="content">
          <slot />
        </section>
      </article>
      <footer>
        <ShareButtons {host} blog={content} {lang} />
        <Commento
          client:visible
          {lang}
          src={__SNOWPACK_ENV__.NODE_ENV === 'production'
          ? 'https://cdn.commento.io/js/commento.js'
          : 'http://localhost:8080/js/commento.js'}
          />
      </footer>
    </main>
  </body>
</html>

<style lang="scss">
  article, footer {
    max-width: 50rem;
    width: 90%;
    margin: 0 auto;
  }

  footer {
    margin-bottom: 4rem;
  }

  header {
    margin-top: 4rem;

    h1.title {
      font-size: 3rem;
      margin-bottom: 1rem;
      color: var(--color-heading);
    }

    p {
      font-family: 'Overpass', 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
      font-size: 1.2rem;
      color: var(--color-heading);
      margin-top: 0;
      font-weight: 600;
      margin-bottom: 2rem;
    }
  }

  .banner {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    color: var(--color-heading);

    ul {
      display: flex;
      padding-left: 1rem;
    }

    li {
      padding-right: 0.5rem;
    }
  }

  .content {
    :global(ul) {
      list-style-type: disc;
      margin-left: 2rem;
      line-height: 1.5rem;
    }

    :global(p) {
      margin: 1rem 0;
    }

    :global(iframe), :global(table) {
      border-collapse: separate;
      border-spacing: 0.2rem;
      align-self: center;
      border: 4px solid var(--color-primary-2);
      border-radius: 10px;
      width: 95%;

      :global(thead) {
        font-weight: 700;
      }
    }

    > :global(*) {
      margin-top: 2rem;
    }
  }

  .content :global(.yt-vid) {
      align-self: center;
      width: 95%;
  }

  .content :global(yt-vid) {
      --width: 100%;
      --height: 315px;
      --border: 4px solid var(--color-primary-2);
      --border-radius: 10px;
  }

  .content :global(blockquote) {
      padding: 8px 10px;
      margin: 8px inherit;
      background-color: #FFF7FB;
      border-left: 5px solid var(--color-primary-2);
      border-radius: 10px;
      color: var(--base-font-color);

  }

  .content :global(blockquote) :global(p) {
      margin: 0;
  }

  .content :global(pre) {
      margin: 8px 10px;
      overflow: auto;
      display: flex;
      padding: 10px;
      border-left: 5px solid var(--color-primary-2);
      border-radius: 10px;
      white-space: pre;       /* css-3 */
      white-space: -moz-pre;  /* Mozilla, since 1999 */
      white-space: -pre;      /* Opera 4-6 */
      white-space: -o-pre;    /* Opera 7 */
      align-self: center;
      width: 95%;
  }

  .stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .ttr, .created {
    color: var(--color-heading);
    span {
      margin-right: 0.2rem;
    }
  }
</style>
